/* Color Palette */
:root {
    --color-primary: #007BFF;
    --color-secondary: #008B00;
    --color-quarantine: #6C757D;
    --color-background: #F8F9FA;
    --color-green-bg: #008B001A;
    --color-white: #FFFFFF;
    --color-text: #212529;
    --shadow-subtle: 0 4px 8px rgba(0, 0, 0, 0.05);
    --color-yellow-warning: #FFC107;
    --color-orange-low: #FF8C00;
    --color-red-critical: #DC3545;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
    min-height: 100vh;
    margin: 0;
}