/* Color Palette */
:root {
    --color-primary: #007BFF;       
    --color-secondary: #008B00;
    --color-quarantine: #6C757D; /*Light grey*/
    --color-background: #F8F9FA; /*Body background*/
    --color-green-bg: #008B001A; /*When hovering over the nav links*/
    --color-white: #FFFFFF;
    --color-text: #212529;
    --shadow-subtle: 0 4px 8px rgba(0, 0, 0, 0.05);
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
    min-height: 100vh;
}

/* Header Styling */
.dash-logo{
  height: 50px;
}
.main-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 30px;
    background-color: var(--color-white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-secondary); 
}

.logo-icon {
    color: var(--color-primary); 
    margin-right: 8px;
}

.main-nav{
    display: flex;
}

.nav-item {
    padding: 8px 15px;
    margin: 0 5px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.main-nav a {
    text-decoration: none;
    color: var(--color-text);
    padding: 8px 15px;
    margin: 0 5px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.main-nav a:hover, .main-nav .active {
    background-color: var(--color-green-bg);
    color: var(--color-primary);
    font-weight: 600;
}

/* DROPDOWN MENU STYLES */

.dropdown-container {
    position: relative;
    display: inline-block; 
    padding: 0;
}

.dropdown-container .nav-link {
    display: block;
    padding: 8px 15px;
    margin: 0;
}

.dropdown-container:hover .nav-link, 
.main-nav .active {
    background-color: var(--color-background);
    color: var(--color-primary);
    font-weight: 600;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 250px;
    background-color: var(--color-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    z-index: 500;
    border-top: 2px solid var(--color-primary);
}

.dropdown-item {
    color: var(--color-text);
    padding: 12px 15px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}

.dropdown-item:hover {
    background-color: var(--color-background);
    color: var(--color-primary);
}

.dropdown-item i {
    margin-right: 10px;
    color: var(--color-secondary);
}

.dropdown-container:hover .dropdown-menu {
    display: block;
}

/*Right header section styling*/
.user-info {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.user-details {
    margin-right: 20px;
}

.time-and-alerts {
    color: var(--color-quarantine);
}

.notification-bell {
    margin-left: 15px;
    color: var(--color-danger);
    cursor: pointer;
}