* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*MAIN CONTENT WRAPPER*/
.main-wrapper {
  margin-left: 260px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: calc(100% - 260px);
}

/*TOP HEADER*/
.top-header {
  height: 70px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  z-index: 90;
}

.page-title h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.notif-btn {
  position: relative;
  cursor: pointer;
  color: var(--color-quarantine);
  font-size: 1.2rem;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #E53935;
  color: white;
  font-size: 0.65rem;
  padding: 2px 5px;
  border-radius: 50%;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 12px;
  border-left: 1px solid var(--color-quarantine);
  padding-left: 1.5rem;
}

.avatar {
  width: 35px;
  height: 35px;
  background: var(--color-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
}

.admin-info span {
  display: block;
  font-size: 0.9rem;
  font-weight: 600;
}

/*CONTENT AREA*/
.content {
  padding: 2rem;
}

/*SUMMARY CARDS*/
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.stat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  padding: 1.5rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  border-top: 4px solid var(--color-primary);
  transition: transform 0.2s;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.stat-card:hover {
  transform: translateY(-3px);
}

.card-icon {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}

.card-inventory {
  border-top-color: var(--color-secondary);
  background: linear-gradient(150deg, white 60%, var(--color-secondary));
}

.pending-card {
  border-top-color: var(--pending);
  background: linear-gradient(150deg, white 60%, var(--pending));
}

.low-stock-card {
  border-top-color: #E53935;
  background: linear-gradient(150deg, white 60%, #E53935);
}

.in-transit-card{
  border-top-color: var(--dispatched);
  background: linear-gradient(150deg, white 60%, var(--dispatched));
}

.completed-ord-card{
  border-top-color: var(--completed);
  background: linear-gradient(150deg, white 60%, var(--completed));
}

.stat-card h3 {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0;
  line-height: 1;
}

.stat-card p {
  font-size: 0.85rem;
  color: var(--color-quarantine);
  font-weight: 500;
}

.total-hosp-card{
  background: linear-gradient(150deg, white 60%, var(--color-primary));
}

.icon-blue {
  background: rgba(30, 136, 229, 0.1);
  color: #1E88E5;
}

.icon-green {
  background: rgba(67, 160, 71, 0.1);
  color: #43A047;
}

.icon-red {
  background: rgba(229, 57, 53, 0.1);
  color: #E53935;
}

.icon-pending {
  background: rgba(251, 140, 0, 0.1);
  color: var(--pending);
}

.icon-in-transit{
  background: rgba(251, 140, 0, 0.1);
  color: var(--dispatched);
}

.icon-blue-alt {
  background: #E3F2FD;
  color: #1E88E5;
}

.icon-green-alt {
  background: #E8F5E9;
  color: var(--completed);
}

/*DASHBOARD SECTIONS*/
.dashboard-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
}

.section-card {
  background: white;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 1.5rem;
}

.section-title {
  margin-bottom: 1.25rem;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*TABLE STYLE*/
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  font-size: 0.75rem;
  color: white;
  text-transform: uppercase;
  background: var(--color-primary);
  padding: 1rem;
}

td {
  padding: 1rem;
  font-size: 0.9rem;
  border-bottom: 1px solid #E2E8F0;
}

tr:last-child td {
  border-bottom: none;
}

.ord-id{
  color: var(--color-secondary);
  font-weight: 600;
}

.view-all-orders-btn{
  background: none;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  padding: 5px;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
}

.view-all-orders-btn:hover{
  background: var(--color-primary);
  color: white;
}

.status-pill {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.75rem;
  font-weight: 600;
}

.status-transit {
  background: var(--dispatched);
  color: white;
}

.status-pending {
  background: var(--pending);
}

.status-success {
  background: var(--completed);
  color: white;
}

/*LOW STOCK LIST*/
.alert-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-quarantine);
}

.alert-item:last-child {
  border-bottom: none;
}

.alert-info p {
  font-weight: 600;
  font-size: 0.9rem;
}

.alert-info span {
  font-size: 0.8rem;
  color: var(--color-quarantine);
}

.stock-badge {
  color: #E53935;
  font-weight: 700;
  font-size: 0.9rem;
}


@media (max-width: 1024px) {
  .dashboard-row {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .main-wrapper {
    margin-left: 70px;
    width: calc(100% - 70px);
  }

  .cards-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}