/*SIDEBAR*/
.sidebar {
  background: linear-gradient(white 10%, rgb(0, 123, 255, 5%) 50%, var(--color-secondary) 100%);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--color-secondary);
  position: sticky;
  max-height: 100vh;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
  top: 0;
}

.logo-area {
  padding: 10px;
  margin-bottom: 0;
}

.logo-area img {
  width: 250px;
}

.logo-container {
  display: none;
}

.page-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-links {
  list-style: none;
  flex-grow: 1;
}

.nav-item {
  padding: 0.25rem 1rem;
  padding-right: 1.5rem;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: black;
  font-weight: 500;
  border-radius: 8px;
  transition: all 0.2s;
}

.nav-link:hover {
  background: var(--color-primary);
  color: white;
}

.nav-link.active {
  background: var(--color-secondary);
  color: white;
}

.close-sidebar-btn,
.open-sidebar-btn {
  position: absolute;
  height: 50px;
  padding: 3px;
  border: 1px solid var(--color-secondary);
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.close-sidebar-btn:hover,
.open-sidebar-btn:hover {
  background: var(--color-primary);
  color: white;
}

.close-sidebar-btn {
  top: 250px;
  left: 253px;
}

.open-sidebar-btn {
  margin: 10px;
  display: none;
  top: 0;
  left: 5px;
  padding: 0 10px;
}

.collapsed {
  width: 70px;
  padding-top: 66px;
}

.sidebar.collapsed .logo-area,
.sidebar.collapsed .logo-area span,
.sidebar.collapsed .nav-link span {
  display: none;
}

.sidebar.collapsed .nav-link {
  justify-content: center;
}

.sidebar.collapsed .close-sidebar-btn {
  display: none;
}

.sidebar.collapsed .open-sidebar-btn {
  display: block;
}

/*TOP HEADER*/
.top-header {
  min-height: 70px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: sticky;
  top: 0;
}

.top-header.collapsed {
  flex-direction: column;
  width: 100%;
}

.top-header.collapsed .logo-container {
  display: block;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.notif-btn {
  position: relative;
  cursor: pointer;
  color: var(--color-quarantine);
  font-size: 1.2rem;
}

.sidebar-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #E53935;
  color: white;
  font-size: 0.65rem;
  border-right: 1px solid var(--color-quarantine);
  padding: 2px 5px;
  border-radius: 50%;
}

/* Admin Password Overlay Styling */
.reset-pwd-modal-content {
  background: white;
  width: 95%;
  max-width: 550px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}

.reset-pwd-modal-content label {
  margin: 5px;
  margin-left: 0;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input{
  width: 100%;
  padding: 8px;
  margin: 2px 0;
}

.close-overlay-btn {
  border: 1px solid red;
  color: red;
  background: white;
}

.close-overlay-btn:hover {
  background: red;
  color: white;
}

.save-btn {
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: white;
}

.save-btn:hover {
  background: white;
  color: var(--color-primary);
}

.admin-pwd-modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 8px;
}
.admin-pwd-modal-footer button{
  padding: 5px;
  border-radius: 8px;
  transition: 0.3s ease;
}

.caret {
  font-size: 25px;
  color: var(--color-secondary);
  margin: 0 5px;
}

.update-pwd-btn {
  padding: 7px;
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  border-radius: 8px;
  position: absolute;
  bottom: -15px;
  right: 30px;
  transition: 0.3s ease;
  cursor: pointer;
}

.update-pwd-btn:hover {
  background: var(--color-secondary);
  color: white;
}

.profile-section {
  border: 1px solid var(--color-secondary);
  background: transparent;
  display: flex;
  align-items: center;
  padding: 3px;
  margin: 2px;
  border-radius: 3px;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 35px;
  height: 35px;
  background: var(--color-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
}

.admin-info span {
  display: block;
  font-size: 0.9rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .sidebar {
    width: 70px;
  }

  .close-sidebar-btn {
    display: none;
  }

  .logo-container {
    display: block;
  }

  .logo-area,
  .logo-area span,
  .nav-link span {
    display: none;
  }

  .nav-link {
    justify-content: center;
  }

  .top-header {
    flex-direction: column;
  }

  .page-header {
    background: white;
    padding: 10px;
    top: 0;
  }

  .content {
    margin-top: 40px;
  }
}

@media (max-width: 480px) {
  .top-header {
    padding: 0 1rem;
  }

  .profile-section {
    padding-left: 0.75rem;
    gap: 8px;
  }

  .admin-info {
    display: none;
  }
}