:root{
  --pending: #FFC107;
  --rejected: #DC3545;
  /*Aprroved follows*/
  --processing: #06b6d4;
  --packed: #6F42C1;
  --dispatched: #20C997;
  --delayed: #FD7E14;
  /* Delivered exists */
  --deliveredIssue: #E5533D;
  --completed: #157347;
}

* {
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  min-height: 100vh;
}

/* Overlay Styling */
.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 23, 42, 0.7);
  backdrop-filter: blur(4px);
  display: none;
  z-index: 1000;
}

.modal-overlay.active {
  display: flex;
  justify-content: center;
  align-items: center;
}